TOKEN= # Telegram Bot token
API_ID= # Telegram API id
API_HASH= # Telegram API Hash
SESSION= # Telethon session
TEAM= # Team/Organizaton
IMAGE= # Image
GROUP_1= # Group name
GROUP_2= # Channel/Group name
GROUP_3= # Channel/Group name
USERNAME_1= # Group username
USERNAME_2= # Channel/Group username
USERNAME_3= # Channel/Group username
OWNER= # Owner username
PROOFS_CHANNEL= # Proofs username
PROOFS_ID= # Proofs ID
ABOUT= # About
HOWTO_HEADER= # How to description part 1
HOWTO_CONTEXT= # How to description part 2
HOWTO_FOOTER= # How to description part 3
MONGODB_URI= # Mongodb url
ACC_LIST= # Account list
POINT_LIST= # Points list for Accounts (in order)